<!doctype html>
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="pl"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="pl"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="pl"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{title}}</title>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="author" content="ViewOne | Interactive Agency">

    <link rel="icon" type="image/png" href="/favicon.png">

    <link href="{{assets}}/css/style.css" rel="stylesheet">

    <link href="{{assets}}/vendor/jReject/css/jquery.reject.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="vendor/jquery/dist/jquery.min.js"><\/script>')</script>

    <script src="{{assets}}/vendor/retina.js/src/retina.js"></script>

    <script src="{{assets}}/vendor/jquery-placeholder/jquery.placeholder.min.js"></script>
    <script src="{{assets}}/vendor/jReject/js/jquery.reject.js"></script>
    <script src="{{assets}}/js/jreject.js"></script>
</head>
<body>

    {{> body }}

</body>
</html>
